{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-lg-13 text-lg-center">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-3">Fluid jumbotron</h1>
                        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
                        <a class="btn btn-primary" href="{{ path('fos_user_security_login') }}" role="button">Sign In</a>
                        <a class="btn btn-primary" href="{{ path('fos_user_registration_register') }}" role="button">Sign Up</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}